parameters:
	ignoreErrors:
		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\BatchAnonymizeService\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/BatchAnonymizeService.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\ConsentCrudService\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/ConsentCrudService.php

		-
			message: "#^Call to an undefined method thiagoalessio\\\\TesseractOCR\\\\TesseractOCR\\:\\:dpi\\(\\)\\.$#"
			count: 1
			path: lib/Service/OcrService.php

		-
			message: "#^Call to an undefined method thiagoalessio\\\\TesseractOCR\\\\TesseractOCR\\:\\:lang\\(\\)\\.$#"
			count: 1
			path: lib/Service/OcrService.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\Signing\\\\NativeSigningProvider\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/Signing/NativeSigningProvider.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\Signing\\\\NativeSigningProvider\\:\\:\\$userSession is never read, only written\\.$#"
			count: 1
			path: lib/Service/Signing/NativeSigningProvider.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\Signing\\\\SigningProviderFactory\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/Signing/SigningProviderFactory.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\Signing\\\\ValidSignProvider\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/Signing/ValidSignProvider.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\SigningAuditService\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/SigningAuditService.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\SigningService\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/SigningService.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\SigningService\\:\\:\\$notificationManager is never read, only written\\.$#"
			count: 1
			path: lib/Service/SigningService.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\SigningService\\:\\:\\$providerFactory is never read, only written\\.$#"
			count: 1
			path: lib/Service/SigningService.php

		-
			message: "#^Property OCA\\\\DocuDesk\\\\Service\\\\SigningVerificationService\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: lib/Service/SigningVerificationService.php
